<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-plus-circle"></i>
            New Team
          </h3>
        </div>
        <div class="card-body">
          <%= render 'form', team: @team %>
        </div>
      </div>
    </div>
  </div>
</div>
