<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">New Team Head</h3>
        </div>
        <div class="card-body">
          <%= render 'form', team_head: @team_head %>
        </div>
      </div>
    </div>
  </div>
</div>
